<!DOCTYPE html>
<html>
	<head>
		{% include 'header.html' %}
	</head>
	<body>
		<div class="wrapper">
			<div class="top-bar">
				<center>
					<h1>Papug Memes Gallery</h1>
				</center>
			</div>
			<div class="row col-12 justify-content-center gallery">
				{% for n in range(pics_quantity) %}
					{% set current_filename = 'content/pics/' + n|string + '.jpg' %}
					<div data-toggle="modal" data-target="#Modal"><img class="pic" src="{{ url_for('static', filename=current_filename) }}"><div class="caption"><b>Papug {{ n }}</b></div></div>
				{% endfor %}
			</div>
			{% include 'modal.html' %}
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
	</body>
</html>